.benefits {
    &__inner {
        display: flex;
        
    }
    &__info {
        max-width: 662px;
        padding-right: 30px;
        
    }


    &__title {
        @extend %title-font;
        background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__text {
        margin-top: 28px;
        font-size: 19px;
        line-height: 30px;
        & + .benefits__text {
            margin-top: 15px;
        }
    }

    &__exp {
        padding-left: 30px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            background: #E6E6F0;
            top: 0;
            left: 0;
            height: 80%;
            width: 4px
        }
    }

    &__item {
        & + .benefits__item {
            margin-top: 40px;
        }
    }
    &__heading {
        display: flex;
    }

    &__num {
        background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 36px;
        line-height: 44px;
        font-weight: 700;
        margin-left: 12px;
    }

    &__sub {
        margin-top: 10px;
        color: #323264;
        font-size: 16px;
        line-height: 20px;
    }
}

.introduce {
    margin-top: 60px;
    img {
        width: 100%;
        max-height: 700px;
    }
}

.bottom-title {
    margin-left: 60px;
}

.bottom-inner {
    margin-top: 60px;
    padding-bottom: 60px;
    & .benefits__text:first-child {
        margin-top: 0;
    }
}

.achievements {
    background: #F5F5FA;
    padding-top: 30px;
    padding-bottom: 30px;   
    &__title {
        text-align: center;
        margin-bottom: 30px;
        color: #323264;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
    }

    // .achievements__inner

    &__inner {
        padding-bottom: 60px;   
        & .swiper-pagination {
            margin: 0 auto;
            display: block;
            bottom: -30px;

            & .swiper-pagination-bullet {
                width: 16px;
                height: 16px;
            }
        }

        & .swiper-slide {
            width: auto;
        }
    }

    // .achievements__items

    &__items {
        display: flex;
        // gap: 40px;
        
    }

    // .achievements__item

    &__item {
        background: $white;
        // width: 300px;
        height: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        cursor: pointer;
    }
}


.container {
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
