.header {
    padding-top: 50px;
    color: $white;
    
    &__wrapper {
        @extend %flex-between;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        animation-name: slidIn;
        animation-duration: 1.2s;
    }


    &__info {
        display: flex;
        align-items: center;
        gap: 6px;
    }

    &__info-btn {
        color: $white;
        padding: 5px 7px;
        border-radius: 8px;
        font-weight: 700;
        letter-spacing: 1px;
        @extend %anim1;
        &:hover {
            background: rgba(255, 255, 255, 0.2);
        }

        &:focus {
            background: $pink;
        }
    }

    &__info-btn + .header__info-btn {
        margin-left: 7px;
    }

    &__info-place {
        font-size: 16px;
        line-height: 20px;
    }

    &__info-phone {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
    }

    &__info-social{
        svg path {
            @extend %anim1;
        }
        &:hover svg path {
        fill: $pink;
    }


    }
}

.close__menu {
    display: none;
}

.logo {
    @extend %anim1;
    &:hover {
        transform: scale(1.06);
    }
    animation-name: slidIn2;
    animation-duration: 1.2s;
}

.logo-mobile {
    display: none;
}

.circle {
    background: $gray;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}


.menu {
    margin-top: 18px;
    align-self: flex-end;
    &__list {
        display: flex;
        gap: 15px;

    }

    &__link {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        @extend %anim1;
        position: relative;
        // .menu__link::after 
        &::after {
            content: "";
            display: block;
            @extend %anim1;
            width: 0%	;
        }
        // .menu__link:hover::after
        &:hover {
            @extend %anim1;
            &::after {
                content: '';
                width: 100%;
                height: 2px;
                position: absolute;
                background: #fff;
                bottom: -3px;
                left: 0;
            }
        }
        // .menu__link:focus::after

        // &:focus::after {
        //     content: '';
        //     width: 100%;
        //     height: 2px;
        //     position: absolute;
        //     background: $pink;
        //     bottom: -3px;
        //     left: 0;
        // }

        // &:focus {
        //     color: $pink;
        // }
    }
}
    

.footer {
    padding-top: 30px;
    padding-bottom: 39px;
    background: #F5F5FA;
    &__line {
        height: 2px;
        border: none;
        background: #E6E6F0;
        height: 2px;
        margin-bottom: 30px;
    }
    &__inner {
        @extend %flex-between;
    }

    &__street {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 21px;
    }

    &__adress {
        color: #323264;
        font-size: 16px;
        line-height: 20px;
    }

    &__map {
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        color: $blue;
        text-transform: uppercase;
        @extend %anim1;
        &:hover {
            color: $pink
        }
    }

    &__contacts {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__phone {
        color: #46466E;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
    }

    &__mail {
        color: $blue;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        @extend %anim1;
        &:hover {
            color: $pink
        }
    }

    &__social {
        path {
            @extend %anim1;
        }
        &:hover path {
            fill: $pink;
        }
    }

    &__copy {
        color: $gray;
        font-size: 16px;
        line-height: 20px;
    }
    
}





@keyframes slidIn {
    from {
        transform: translate(-20%,0%);
    }

    to {
        transform: translate(0%,0%);
    }
}


@keyframes slidIn2 {
    from {
        transform: translate(-20%,0%);
    }

    to {
        transform: translate(0%,0%);
    }
}